[submodule "alphatwirl"]
	path = external/alphatwirl
	url = https://github.com/alphatwirl/alphatwirl.git
[submodule "fwtwirl"]
	path = external/fwtwirl
	url = https://github.com/TaiSakuma/fwtwirl.git
[submodule "scribblers"]
	path = external/scribblers
	url = https://github.com/TaiSakuma/scribblers.git
